<section id="about-us" class="about-us section">
  <div class="container">
    <h2 class="section-title">
      Хто <span class="section-title-decor">ми</span>
    </h2>
    <p class="section-description">
      Сучасна компанія онлайн курсів, ми націлені на надання сучасноії ​​та
      ефективної моделі саморозвітку у найкоротший час
    </p>

    <div class="about-us--bottom">
      <ol class="about-us--cards">
        <li class="about-us--card">
          <p class="about-us--card-text">
            Електронна книга з поетапними кроками до досягнення результату
          </p>
        </li>
        <li class="about-us--card">
          <p class="about-us--card-text">Інформація у форматі аудіокниги</p>
        </li>
        <li class="about-us--card">
          <p class="about-us--card-text">Відео лекції</p>
        </li>
        <li class="about-us--card">
          <p class="about-us--card-text">
            Знижка на придбання наступного курсу
          </p>
        </li>
      </ol>
      <div class="about-us--image">
        <img
          srcset="./img/memoji/memoji@2x.png 2x"
          src="./img/memoji/memoji.png"
          width="254"
          height="211"
          alt="about us"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
