<section class="hero section">
  <div class="hero-bg">
    <div class="hero-container" data-aos="fade-right" data-aos-duration="1500">
      <h1 class="hero-title">
      Поліпши своє життя,
        <span class="title-accent">обери свій</span> курс!
      </h1>
      <a href="#lessons" class="hero-btn link">Обрати курс</a>
      <a href="#footer" class="hero-scroll-down-btn link">
        <svg
          class="hero-scroll-down-icon"
          width="20"
          height="20"
          aria-label="scroll down icon"
        >
          <use href="./img/sprite.svg#icon-scroll-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
