<div class="license-backdrop is-hidden" data-modal-license>
  <div class="license-modal modal-license-scroll">
    <button class="license-modal-btn-close" type="button" data-modal-license-close>
      <svg width="24" height="24" aria-label="icon-button-close">
        <use href="./img/sprite.svg#icon-close-button"></use>
      </svg>
    </button>
    <h2 class="modal-title">
      Назва<span class="logo-green">компанії.&ensp;</span>Умови використання
    </h2>
    <div class="">
      <ol class="modal-license-list">
        <li>
          Умови використання<br>
          <p>
            Тест
          </p>
        </li>
        <li>
          Тест<br>
          <p>
           Тест.
          </p>
        </li>
        <li>
          Тест
          <ol>
            <li>
             Тест
            </li>
            <li>
             Тест
            </li>
          </ol>
        </li>
        <li>
          Тест
          <ol>
            <li>
             Тест
            </li>
            <li>
              Тест.
            </li>
          </ol>
        </li>
        <li>
         Тест
          <p>
            Тест.
          </p>
        </li>
        <li>
          Тест
          <p>
          Тест.
          </p>
        </li>
        <li>
        Тест
          <p>
            Тест
          </p>
        </li>
        <li>
        Тест
          <p>
          Тест
          </p>
        </li>
        <li>
          Тест
          <p>
            Тест
          </p>
        </li>
        <li>
        Тест
          <p>
          Тест
            <a class="modal-license-link" href="mailto:info@english-excellence.com">info@english-excellence.com</a>.
          </p>
          <p>Тест</p>
        </li>
      </ol>
    </div>
  </div>
</div>