<div class="privacy-backdrop is-hidden" data-modal-privacy>
  <div class="privacy-modal modal-privacy-scroll">
    <button
      class="privacy-modal-btn-close"
      type="button"
      data-modal-privacy-close
    >
      <svg width="24" height="24" aria-label="icon-button-close">
        <use href="./img/sprite.svg#icon-close-button"></use>
      </svg>
    </button>
    <h2 class="modal-title">
      Назва <span class="logo-green">компанії.&ensp;</span> Політика
      конфіденційності
    </h2>
    <ul>
      <li class="modal-privacy-list-item">
        <p class="modal-privacy-paragraph">Тест</p>
      </li>
      <li class="modal-privacy-list-item">
        <p class="modal-privacy-paragraph">
          Тест:<br />
          Тест
        </p>
      </li>
      <li class="modal-privacy-list-item">
        <p class="modal-privacy-paragraph">
          Тест:<br />
          Тест
        </p>
      </li>
      <li class="modal-privacy-list-item">
        <p class="modal-privacy-paragraph">
          Тест:<br />
          Тест
        </p>
      </li>
      <li class="modal-privacy-list-item">
        <p class="modal-privacy-paragraph">
          Тест:<br />
          Тест.
        </p>
      </li>
      <li class="modal-privacy-list-item">
        <p class="modal-privacy-paragraph">
          Тест:<br />
          Тест.
        </p>
      </li>
      <li class="modal-privacy-list-item">
        <p class="modal-privacy-paragraph">
          Тест:<br />
          Тест.
        </p>
      </li>
    </ul>
  </div>
</div>
