<section id="lessons" class="section">
  <div class="container">
    <h2 class="section-title">
      Наші <span class="section-title-decor">курси</span>
    </h2>

    <p class="section-description">
      Наші курси ретельно структуровані та інтерактивні, призначені для швидкого
      просування засвоєння інформації яка буде тебе наближати до результату
    </p>

    <ul class="lessons__list">
      <li
        class="lessons__elements"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="3000"
      >
        <div>
          <h3 class="lessons__title2">Як закохати в себе чоловіка</h3>
          <p class="lessons__paragraph2">
            295 грн. <span class="lessons__paragraph2-old-price">1050 грн</span>
          </p>
        </div>
        <p class="lessons__paragraph3">
          Зроби перший крок до щасливих відносин! Приєднуйся до нас сьогодні!
        </p>
        <p class="lessons__paragraph4">
          Наш курс пропонує практичні інструменти та стратегії, які допоможуть
          вам відновити втрачену інтимність, викликати непереборне бажання у
          вашому партнері та покращити якість ваших відносин
        </p>
        <a href="../pages/astrology/astrology.html" class="lessons__link"
          >Отримати курс зі знижкою!</a
        >
      </li>

      <li
        class="lessons__elements"
        data-aos="flip-right"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="3000"
      >
        <div>
          <h3 class="lessons__title2">Астрологічна сумісність в стосунках</h3>
          <p class="lessons__paragraph2">
            295 грн.
            <span class="lessons__paragraph2-old-price2">1050 грн</span>
          </p>
        </div>
        <p class="lessons__paragraph3">Побут. Секс. Гроші.</p>
        <p class="lessons__paragraph4">
          Відчуваєш, що з партнером ніби на різних хвилях? Розкрий секрети
          сумісності.
        </p>
        <a href="#application" class="lessons__link">Отримати курс зі знижкою!</a>
      </li>

      <li
        class="lessons__elements"
        data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="3000"
      >
        <div>
          <h3 class="lessons__title2">Як закохати в себе чоловіка</h3>
          <p class="lessons__paragraph2">
            295 грн. <span class="lessons__paragraph2-old-price">1050 грн</span>
          </p>
        </div>
        <p class="lessons__paragraph3">
          Зроби перший крок до щасливих відносин! Приєднуйся до нас сьогодні!
        </p>
        <p class="lessons__paragraph4">
          Наш курс пропонує практичні інструменти та стратегії, які допоможуть
          вам відновити втрачену інтимність, викликати непереборне бажання у
          вашому партнері та покращити якість ваших відносин
        </p>
        <a href="../pages/astrology/astrology.html" class="lessons__link"
          >Отримати курс зі знижкою!</a
        >
      </li>
    </ul>
  </div>
</section>
