<header class="header" id="header">
  <div class="container header-page-container">
    <a href="#header" class="header-logo link"
      >Назва<span class="header-logo-accent">компанії</span>
    </a>

    <h3 class="header-page-sale">
      Діє знижка
      <span class="section-title-decor">-70%</span>
    </h3>

    <!-- <button
      class="header-burger-btn js-open-menu"
      type="button"
      aria-expanded="false"
    >
      <svg
        class="header-burger-icon"
        aria-label="burger icon"
        width="32"
        height="32"
      >
        <use href="../../img/sprite.svg#icon-burger"></use>
      </svg>
    </button> -->
    <div class="header-social-container">
      <ul class="header-social-list">
        <li class="header-social-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="header-social-link"
            target="_blank"
            aria-label="facebook icon"
            ><svg class="header-social-icon" width="28" height="28">
              <use href="../../img/sprite.svg#icon-facebook"></use></svg
          ></a>
        </li>
        <li class="header-social-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="header-social-link"
            target="_blank"
            aria-label="instagram icon"
            ><svg class="header-social-icon" width="28" height="28">
              <use href="../../img/sprite.svg#icon-instagram"></use></svg
          ></a>
        </li>
        <li class="header-social-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="header-social-link"
            target="_blank"
            aria-label="youtube icon"
            ><svg class="header-social-icon" width="28" height="28">
              <use href="../../img/sprite.svg#icon-youtube"></use></svg
          ></a>
        </li>
      </ul>
    </div>
  </div>
</header>
