<section class="section" id="application">
  <div
    class="container application-section"
    data-aos="fade-right"
    data-aos-duration="1500"
  >
    <!-- <div class="application-title"> -->
    <h2 class="section-title">
      Астрологічна сумісність в
      <span class="section-title-decor">стосунках</span>
    </h2>
    <p class="section-description">Побут. Секс. Гроші.</p>
    <!-- </div> -->
    <div class="application-content">
      <div class="application-decor">
        <img
          class="app-img"
          srcset="../../img/application/astrology.webp"
          src="../../img/application/astrology.webp"
          alt="Astrological compatibility in relationships"
          width="492"
          height="92"
          loading="lazy"
        />

        <p class="application-count">
          295 грн. <span class="application-count-old-price">1050 грн.</span>
        </p>
        <p class="application-lessons-description">
          Цей курс дасть тобі четке розуміння ваших взаємозв'язків з партнером і
          підвищить якість ваших відносин
        </p>
      </div>

      <div class="application-form-container">
        <div class="application-strengths--bottom">
          <ul class="application-strengths--cards">
            <li class="application-strengths--card">
              <p class="application-strengths--card-text">
                Відчуваєш, що з партнером ніби на різних хвилях? Розкрий секрети
                сумісності
              </p>
            </li>
            <li class="application-strengths--card">
              <p class="application-strengths--card-text">
                Астрологічна сумісність: ключ до міцних стосунків!
              </p>
            </li>
            <li class="application-strengths--card">
              <p class="application-strengths--card-text">Відео лекції</p>
            </li>
            <li class="application-strengths--card">
              <p class="application-strengths--card-text">
                Розкрийте секрети фінансової гармонії у парі
              </p>
            </li>
            <li class="application-strengths--card">
              <p class="application-strengths--card-text">
                Фінансова сумісність у парі: міф чи реальність?
              </p>
            </li>
          </ul>
        </div>
        <div class="application-timer-container">
          <p class="application-timer-msg">Курс зі знижкою -70%</p>
          <p class="application-timer" id="timer">05:00</p>
        </div>
        <a
          class="application-send button"
          href="https://pay.fondy.eu/s/IQZ04O5WPZ"
          >Придбати курс 295 грн</a
        >
      </div>
    </div>
  </div>
</section>
