<section id="reviews" class="reviews-section section">
  <div class="reviews-container container">
    <h2 class="section-title">
      Відгуки наших <span class="section-title-decor">кліентів</span>
    </h2>
    <p class="reviews-text">
      Дізнайтесь від наших користувачів про їхній навчальний шлях із нами їхній
      досвід, прогрес і трансформаційний вплив
    </p>
    <div class="swiper reviews-swiper">
      <ul class="reviews-list swiper-wrapper" aria-live="off">
        <li class="reviews-item swiper-slide">
          <div class="reviews-box">
            <div class="reviews-avatar-wrapper">
              <img
                srcset="
                  ../../img/reviews/review-anna@1x.jpg 1x,
                  ../../img/reviews/review-anna@2x.jpg 2x
                "
                src="../../img/reviews/review-anna@1x.jpg"
                alt="student avatar"
                width="50"
                height="50"
                loading="lazy"
                class="reviews-avatar"
              />
            </div>
            <div class="reviews-info">
              <h3 class="reviews-name">Анна</h3>
              <p class="reviews-position">Студент</p>
            </div>
          </div>
          <p class="reviews-feedback">
            Мій досвід з курсом "Як закохати в себе чоловіка" був дивовижний.
            Він дав мені розуміння як повидитись с чоловіком так, щоб і я і він
            отримував задоволення від спілкування. Здається так все просто, але
            курс розкриває очі на конкретні речі, які я раніше не помічала
          </p>
        </li>
        <li class="reviews-item swiper-slide">
          <div class="reviews-box">
            <div class="reviews-avatar-wrapper">
              <img
                srcset="
                  ../../img/reviews/review-mykhailo@1x.jpg 1x,
                  ../../img/reviews/review-mykhailo@2x.jpg 2x
                "
                src="../../img/reviews/review-mykhailo@1x.jpg"
                alt="student avatar"
                width="50"
                height="50"
                loading="lazy"
                class="reviews-avatar"
              />
            </div>
            <div class="reviews-info">
              <h3 class="reviews-name">Аліна</h3>
              <p class="reviews-position">Бухгалтер</p>
            </div>
          </div>
          <p class="reviews-feedback">
            Курс був дійсно відкриттям для мене. Я дізнався про аспекти мого
            стосунку з партнером, про наші сильні та слабкі сторони. Тепер ми
            розуміємо один одного краще, і стосунки стали гармонійнішими.
          </p>
        </li>
        <li class="reviews-item swiper-slide">
          <div class="reviews-box">
            <div class="reviews-avatar-wrapper">
              <img
                srcset="
                  ../../img/reviews/review-victoria@1x.jpg 1x,
                  ../../img/reviews/review-victoria@2x.jpg 2x
                "
                src="../../img/reviews/review-victoria@1x.jpg"
                alt="student avatar"
                width="50"
                height="50"
                loading="lazy"
                class="reviews-avatar"
              />
            </div>
            <div class="reviews-info">
              <h3 class="reviews-name">Вікторія</h3>
              <p class="reviews-position">Оператор</p>
            </div>
          </div>
          <p class="reviews-feedback">
            Для мене, як людини, яка завжди вважала астрологію сумним,
            'Астрологічна сумісність' стала великим відкриттям. Відносини з
            партнером, виглядають зараз з іншого ракурсу, і це дозволило
            зрозуміти, що вони можуть бути ще глибше і гармонійніше.
          </p>
        </li>
        <li class="reviews-item swiper-slide">
          <div class="reviews-box">
            <div class="reviews-avatar-wrapper">
              <img
                srcset="
                  ../../img/reviews/review-maksim@1x.jpg 1x,
                  ../../img/reviews/review-maksim@2x.jpg 2x
                "
                src="../../img/reviews/review-maksim@1x.jpg"
                alt="student avatar"
                width="50"
                height="50"
                loading="lazy"
                class="reviews-avatar"
              />
            </div>
            <div class="reviews-info">
              <h3 class="reviews-name">Євгенія</h3>
              <p class="reviews-position">Касир</p>
            </div>
          </div>
          <p class="reviews-feedback">
            Після пройдення курсу, я відчуваю, що я став краще розуміти наші
            взаємодії з партнером, і я впевнений, що це допоможе покращити наші
            стосунки.Цей курс був дуже корисним для нас. Ми дізналися багато
            нового про себе і свої стосунки, і вже зараз помічаємо позитивні
            зміни.
          </p>
        </li>
        <li class="reviews-item swiper-slide">
          <div class="reviews-box">
            <div class="reviews-avatar-wrapper">
              <img
                srcset="
                  ../../img/reviews/review-nataliia@1x.jpg 1x,
                  ../../img/reviews/review-nataliia@2x.jpg 2x
                "
                src="../../img/reviews/review-nataliia@1x.jpg"
                alt="student avatar"
                width="50"
                height="50"
                loading="lazy"
                class="reviews-avatar"
              />
            </div>
            <div class="reviews-info">
              <h3 class="reviews-name">Наталья</h3>
              <p class="reviews-position">Рекрут</p>
            </div>
          </div>
          <p class="reviews-feedback">
            Курс 'Астрологічна сумісність' приніс нам багато нового про нас і
            наші стосунки. Я впевнений, що ці знання допоможуть зміцнити наші
            відносини.
          </p>
        </li>
        <li class="reviews-item swiper-slide">
          <div class="reviews-box">
            <div class="reviews-avatar-wrapper">
              <img
                srcset="
                  ../../img/reviews/review-olga@1x.jpg 1x,
                  ../../img/reviews/review-olga@2x.jpg 2x
                "
                src="../../img/reviews/review-olga@1x.jpg"
                alt="student avatar"
                width="50"
                height="50"
                loading="lazy"
                class="reviews-avatar"
              />
            </div>
            <div class="reviews-info">
              <h3 class="reviews-name">Олга</h3>
              <p class="reviews-position">Домогосподарка</p>
            </div>
          </div>
          <p class="reviews-feedback">
            Дуже цікавий і корисний курс! Ми дізналися багато нового про наші
            стосунки і побачили, як вони можуть бути ще глибшими і
            згармонізованішими.
          </p>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
